@import "../../../../assets/less/base";

page {
  background-color: #f1f1f1;
}

.pink-mask {
  background-color: @theme-color;
  height: 200 * @rpx;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.aunt-detail-container {
  padding: 0 30 * @rpx;
  position: relative;
  .panel {
    margin-top: 30 * @rpx;
    background-color: #ffffff;
    border-radius: 16 * @rpx;
    text-align: center;

    .panel-title {
      font-size: 32 * @rpx;
      color: #000;
      padding-top: 28 * @rpx;
      padding-bottom: 24 * @rpx;
      font-weight: bold;
    }
  }
  .intro {
    margin-top: 120 * @rpx;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .head-img-container {
      width: 160 * @rpx;
      height: 160 * @rpx;
      border-radius: 160 * @rpx;
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      .head-image {
        width: 154 * @rpx;
        height: 154 * @rpx;
        border-radius: 154 * @rpx;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    .name {
      font-size: 32 * @rpx;
      color: #000000;
      margin-top: 90 * @rpx;
      text-align: center;
      font-weight: bold;
    }
    .star {
      margin-top: 10 * @rpx;
      i {
        padding-right: 9 * @rpx;
        color: #eb4429;
      }
    }
    .detail-panel {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20 * @rpx;
      .col-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .line-key {
          color: #808080;
          font-size: 28 * @rpx;
        }
        .line-value {
          margin-left: 30 * @rpx;
          color: #000;
          font-size: 28 * @rpx;
        }
      }
    }
  }
  .skill {
    padding: 0 30 * @rpx;
    .skill-item {
      display: flex;
      justify-content: flex-start;
      i {
        color: @theme-color;
        font-size: 28 * @rpx;
        display: inline-block;
        margin-right: 16 * @rpx;
      }
      .skill-desc {
        text-align: left;
        display: inline-block;
        color: #434343;
        font-size: 28 * @rpx;
        line-height: 30 * @rpx;
        margin-bottom: 26 * @rpx;
      }
    }
  }
  .work-flow {
    .work-list {
      text-align: left;
      padding-right: 30 * @rpx;
      .work-item {
        display: flex;
        position: relative;
        justify-content: flex-start;
        .line {
          position: absolute;
          width: 3 * @rpx;
          background-color: @theme-color;
          left: 50%;
          top: 0;
          bottom: 0;
          transform: translate3d(-50%, 0, 0);
          z-index: 9;
        }
        &:first-child {
          .line {
            top: 25 * @rpx;
          }
        }
        &:last-child {
          .line {
            bottom: inherit;
            height: 20 * @rpx;
          }
        }
        .wrap {
          width: 70 * @rpx;
          position: relative;
          .circle-container {
            position: absolute;
            width: 25 * @rpx;
            height: 25 * @rpx;
            border-radius: 25 * @rpx;
            background-color: #fde6e5;
            left: 50%;
            top: 8 * @rpx;
            transform: translate3d(-50%, 0, 0);
            .c1 {
              position: absolute;
              width: 10 * @rpx;
              height: 10 * @rpx;
              border-radius: 10 * @rpx;
              background-color: @theme-color;
              top: 50%;
              left: 50%;
              transform: translate3d(-50%, -50%, 0);
            }
          }
        }
        .item-content {
          margin-bottom: 30 * @rpx;
          .time {
            font-size: 24 * @rpx;
            color: #808080;
            line-height: 40 * @rpx;
            height: 40 * @rpx;
            position: relative;
          }
          .location {
            font-size: 28 * @rpx;
            color: #333333;
            font-weight: bold;
          }
          .content {
            font-size: 28 * @rpx;
            color: #434343;
          }
        }
      }
    }
  }
}